In [1]:
import pandas as pd
import numpy as np

As a first step, we set up a spreadsheet for a simple retirement plan, ignoring saving for other objectives.

### Scenario
1. Age - 30 
2. Expected Retirement Age - 65
3. Completed your formal education and settled down to plan the rest of your economic life.
4. You desire to obtain a (level) annuity for your 25-year retirement period
5. Annual gross income $50,000
6. Annual income increase at 7% per year
7. Saving Percentage 15% (invested in safe government bonds that will yield 6% until retirement.)
8. Upon retirement, your funds in the retirement account will be used to purchase a 25-year annuity (using the same 6% interest rate) to finance a steady consumption annuity

In [2]:
# Setting up variables needed to project pension plan
current_age = 30
retirement_age = 65
annual_income = 50000
annual_income_growth = 0.07
savings_ratio = 0.15
government_bond_yield = 0.06

In [3]:
def get_working_years(current_age=18, retirement_age=65):
    return list(range(current_age, retirement_age + 1))

In [4]:
age = get_working_years(current_age, retirement_age)

In [5]:
def get_annual_income_till_retirement(age, annual_income=15080,  annual_income_growth=0.01):
    income = []
    for count, current_age in enumerate(age):
        if count != 0:
            income.append(round(annual_income, 2))
            annual_income *= (1 + annual_income_growth)
        else:
            income.append(round(annual_income, 2))
            annual_income *= (1 + annual_income_growth)
        
    return income

In [6]:
income = get_annual_income_till_retirement(age, annual_income, annual_income_growth)

In [7]:
def get_savings(income, savings_ratio=0.01):
    savings = []
    for annual_income in income:
        annual_savings = annual_income * savings_ratio
        savings.append(round(annual_savings, 2))

    return savings

In [8]:
savings = get_savings(income, savings_ratio)

In [9]:
def get_cummulative_savings(savings, investment_yield):
    cummulative_savings = []
    #accumulated_savings = 0
    for count, annual_saving in enumerate(savings):      
        if count != 0:
            accumulated_savings *= (1 + investment_yield)
            accumulated_savings += savings[count]
            cummulative_savings.append(round(accumulated_savings, 2))
        else:
            accumulated_savings = (savings[count])
            cummulative_savings.append(round(accumulated_savings, 2))
        
    return cummulative_savings

In [10]:
cummulative_savings = get_cummulative_savings(savings, government_bond_yield)

In [11]:
def get_consumption(income, savings):
    consumption = []
    for count, annual_income in enumerate(income):
        annual_consumption = annual_income - savings[count]
        consumption.append(round(annual_consumption, 2))
    
    return consumption

In [12]:
consumption = get_consumption(income, savings)

In [13]:
data = {'age':age, 'income':income, 'savings':savings, 'cummulative_savings':cummulative_savings, 'consumption':consumption}

In [14]:
# Creating the dataframe
df = pd.DataFrame(data)

In [15]:
df

    age     income   savings  cummulative_savings  consumption
0    30   50000.00   7500.00              7500.00     42500.00
1    31   53500.00   8025.00             15975.00     45475.00
2    32   57245.00   8586.75             25520.25     48658.25
3    33   61252.15   9187.82             36239.29     52064.33
4    34   65539.80   9830.97             48244.61     55708.83
5    35   70127.59  10519.14             61658.43     59608.45
6    36   75036.52  11255.48             76613.41     63781.04
7    37   80289.07  12043.36             93253.58     68245.71
8    38   85909.31  12886.40            111735.19     73022.91
9    39   91922.96  13788.44            132227.75     78134.52
10   40   98357.57  14753.64            154915.05     83603.93
11   41  105242.60  15786.39            179996.34     89456.21
12   42  112609.58  16891.44            207687.56     95718.14
13   43  120492.25  18073.84            238222.66    102418.41
14   44  128926.71  19339.01            271855.03    109587.70
15   45  137951.58  20692.74            308859.07    117258.84
16   46  147608.19  22141.23            349531.84    125466.96
17   47  157940.76  23691.11            394194.86    134249.65
18   48  168996.61  25349.49            443196.05    143647.12
19   49  180826.38  27123.96            496911.77    153702.42
20   50  193484.22  29022.63            555749.10    164461.59
21   51  207028.12  31054.22            620148.27    175973.90
22   52  221520.09  33228.01            690585.18    188292.08
23   53  237026.49  35553.97            767574.26    201472.52
24   54  253618.35  38042.75            851671.46    215575.60
25   55  271371.63  40705.74            943477.49    230665.89
26   56  290367.65  43555.15           1043641.29    246812.50
27   57  310693.38  46604.01           1152863.78    264089.37
28   58  332441.92  49866.29           1271901.89    282575.63
29   59  355712.85  53356.93           1401572.94    302355.92
30   60  380612.75  57091.91           1542759.22    323520.84
31   61  407255.64  61088.35           1696413.13    346167.29
32   62  435763.54  65364.53           1863562.45    370399.01
33   63  466266.99  69940.05           2045316.24    396326.94
34   64  498905.68  74835.85           2242871.07    424069.83
35   65  533829.07  80074.36           2457517.69    453754.71

In [16]:
total_income_earned = round(df['income'].sum(), 2)
total_amount_saved = round(df['savings'].sum(), 2)